#product-search-page,
#accout-subpage,
#edit-product-detail-page,
#user-product-detail-page {
  display: none;
}
.product-card:hover .card {
  box-shadow: 5px 5px 5px grey;
  transition: 0.5s ease-out;
  transform: scale(1.05);
  opacity: 0.8;
}

.product-card:hover .card-hover-button {
  /* box-shadow: 1px 1px 1px 1px grey; */
  transition: 0.6s ease-in-out;
  transform: scale(1.05);
  opacity: 1;
}
.main-img:hover .main-img-hover-button {
  transition: 0.6s ease-in-out;
  transform: scale(1.05);
  opacity: 1;
}
.main-img-hover-button {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  left: 90%;
  text-align: center;
}
.card-hover-button {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  left: 80%;
  text-align: center;
}
.product-sub-img:hover {
  box-shadow: 3px 3px 3px grey;
  transition: 0.3s ease-out;
  transform: scale(1.03);
  opacity: 0.8;
}
#upload-icon-label:hover svg {
  transition: 0.3s ease-out;
  transform: scale(1.04);
}

.offcanvas {
  width: 40vw;
}

#about-img {
  background-image: url("../assets/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  flex: 1;
}

/* .product-card {
  transform: scale(1.4);
  margin: 2rem 3.4rem 9rem 3.4rem;
  transform-origin: 0 0;
}
#user-search-page{
  fluid
}
.load-more-btns {
  transform: scale(1.4);
  margin: 5.4rem;
}
.products-text {
  transform: scale(1.2);
  font-size: 1.3rem;
  transform-origin: 0 0;
}
img {
  filter: sepia(10%);
}
.offcanvas {
  background-color: #faf9de;
}
body {
  background-color: #faf9de;
   杏仁黄    #FAF9DE  
秋叶褐    #FFF2E2  
胭脂红    #FDE6E0  
青草绿    #E3EDCD   
}
.eye-care-mode {
  background-color: #faf9de;
} */

/* 
#user-search-page-products{
  gap:
} */

/* @media (max-width: 1400px) {
  .offcanvas {
    width: 90vw;
  }
} */
